.hidden {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight:300;
  font-size: 1.2em;
  background: #fff;
  position: relative;
  margin: 0px auto 20px;
  max-width: 560px;
}

a {
  text-decoration:none;
  font-weight:600;
  color: inherit;
}

h1, h2, h3, h4 {
  font-family: "Kreon", serif;
  font-weight: 300;
  color: #111;
}

h1, h2 { 
  font-size:185%;
  text-transform:lowercase;
}

#content-static {
  background: rgba(255, 255, 255, 0.9);
  position:fixed;
  top: 0px;
  width: 560px;
  clear:left;
}

#content-static ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#content-static ul li {
  float: left;
  margin: 24px 0px;
  width: 20%;
  text-align: center;
}

#content-static a img {
  border-style: none;
}

#content-scrollable {
  margin-top: 85px;
  clear: left;
}

#content-scrollable p {
  text-align: justify;
  padding-left: 12px;
}

#content-scrollable a:hover {
  text-decoration:underline;
  color: #0031ea;
}

#card-photo {
  width:96px;
  height:96px;
  padding-left: 12px;
  padding-right:12px;
  display: table-cell;
  vertical-align: middle;
}

#card-text{ display: table-cell; }

#card-text dt {
    float: left;
    clear: left;
}

#card-text dd {
  margin: 0 0 0 72px;
}

#what_i_can_do h2 {
  color: #00cc00;
}

#what_i_did_in_the_past h2 {
  color: #0197fd;
}

#what_i_am_looking_for h2 {
  color: #fdca01;
}

#how_we_team_up h2 {
  color: #ff0036;
}

#footer {
  font-size: 10px;
  text-align: center;
  color:#666;
}
