body {
  background: #fff;
}

#content {
  position: relative;
  margin: 0px auto 20px;
  width: 760px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

a {
  text-decoration:none;
  font-weight:bold;
  color: inherit;
}

h1, h2, h3, h4 {
  font-family: georgia, times, serif;
  font-weight: normal;
  color: #333;
}

h1 {
  font-size:48px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 { font-size:24px;}

h3 { font-size:20px;}

h4 { font-size:18px;}

header {
  text-align:center;
}

header h2 {
  color: #666;
  font-style: italic;
  font-size: 20px;
  margin-top:0px;
  margin-bottom:0px;
}

header p {
  margin-top:12px;
  margin-bottom:36px;
}

header a {
  font-size:11px;
  font-weight:normal;
  font-family: georgia, times, serif;
  font-style: italic;
}

#content-static {
  background: rgba(255, 255, 255, 0.9);
  position:fixed;
  top: 0px;
  width: 760px;
  clear:left;
}

#content-static ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#content-static ul li {
  float: left;
  margin: 24px 0px;
  width: 25%;
  text-align: center;
}

#content-static a img {
  border-style: none;
}

#content-scrollable {
  margin-top: 104px;
  clear: left;
}

#content-scrollable p {
  text-align: justify;
  padding-left: 12px;
}

#content-scrollable a:hover {
  text-decoration:underline;
  color: #0031ea;
}

#part1 h2 {
  color: #0197fd;
}

#part2 h2 {
  color: #00cc00;
}

#part3 h2 {
  color: #fdca01;
}

#part4 h2 {
  color: #ff0036;
}

#footer {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10px;
  text-align: center;
  color:#666;
}
