/* 
 * General
 */
body {
  font-family: "Open Sans", sans-serif;
  font-weight:300;
  font-size: 1.1em;
  background: #fff;
  position: relative;
  margin: 0px auto 20px;
  max-width: 560px;
}

a {
  text-decoration:none;
  font-weight:400;
  color: inherit;
}

h1, h2, h3, h4 {
  font-family: "Kreon", serif;
  font-weight: 300;
  color: #111;
  text-transform:lowercase;
}

h1 { 
  font-size:200%;
}

h2 { 
  font-size:185%;
}

/*
 * Classes
 */
.hidden {
  display: none;
}



/* 
 * Navigation section
 */
#navigation-static {
  background: rgba(255, 255, 255, 0.9);
  position:fixed;
  top: 0px;
  width: 560px;
  clear:left;
}

#navigation-static ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navigation-static ul li {
  float: left;
  margin: 24px 0px;
  width: 20%;
  text-align: center;
}

#navigation-static a img {
  border-style: none;
  /*display: block;*/
}



/* 
 * General content section 
 */
#content-scrollable {
  margin-top: 85px;
  clear: left;
}

#content-scrollable p {
  text-align: justify;
  padding-left: 12px;
}

#content-scrollable dt {
  margin-left: 12px;
  margin-top: .6em;
}

#content-scrollable dd {
  margin-left: 24px;
}

#content-scrollable ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

#content-scrollable li:before {
  content: '\2013\a0';
}

#content-scrollable li {
  margin: 0px;
}

#content-scrollable a:hover {
  text-decoration:underline;
  color: #0031ea;
}



/* 
 * Specific content sections 
 */
#card-photo {
  width: 96px;
  height: 96px;
  padding-left: 12px;
  padding-right:12px;
  display: table-cell;
  vertical-align: middle;
}

#card-photo img {
  display: block;
}

#card-text{ 
  display: table-cell; 
  vertical-align: middle;
}

#card-text dt {
  margin: 0px;
  float: left;
  clear: left;
}

#card-text dt:after {
  content: ":";
}

#card-text dd {
  margin: 0 0 0 80px;
}

#what_i_can_do h2 {
  color: #00cc00;
}

#what_i_did_in_the_past h2 {
  color: #0197fd;
}

#what_i_am_looking_for h2 {
  color: #fdca01;
}

#how_we_team_up h2 {
  color: #ff0036;
}