/* 
 * General
 */
body {
  font-family: "Open Sans", sans-serif;
  /*font-family: sans-serif;*/
  font-weight:normal;
  font-size: 1.1em;
  background: #fff;
  position: relative;
  margin: 0px auto 20px;
  max-width: 560px;
}

a {
  text-decoration:none;
  color: inherit;
}

abbr[title], acronym[title] {
  border-bottom-width: 0;
}

address { font-style: normal;}

h1, h2, h3, h4 {
  font-family: "Kreon", serif;
  /*font-family: serif;*/
  font-weight: normal;
  color: #111;
  text-transform:lowercase;
}

h1 { 
  font-size:200%;
}

h2 { 
  font-size:185%;
}

/*
 * Classes
 */
.textonly, .noprint {
  display: none;
}

.content-section, .manual-page-break {
  page-break-before:always;
}

.content-paragraph {
  page-break-inside: avoid;
} 



/* 
 * General content section 
 */
#content-scrollable {
  margin-top: 0px;
  clear: left;
}

#content-scrollable p {
  text-align: justify;
  padding-left: 1em;
}

#content-scrollable dt {
  margin-left: 1em;
  margin-top:  1em;
}

#content-scrollable dd {
  margin-left: 2em;
  margin-top:  1em;
}

#content-scrollable dd p {
  padding-left: 0px;
}

#content-scrollable ul {
  margin:       0px;
  text-indent: -.7em;
  padding-left: .7em;
  list-style-type: none;
}

#content-scrollable li:before {
  content: '\2022\A0';
}

#content-scrollable li {
  margin: 0px;
}



/* 
 * Specific content sections 
 */

#motto {
  padding: .5em;
  margin: 0px 0px 2em 1em;
}

#card-photo {
  width:  96px;
  height: 96px;
  padding-left:  1em;
  padding-right: 1em;
  display: table-cell;
  vertical-align: middle;
}

#card-photo img {
  display: block;
}

#card-text{ 
  display: table-cell; 
  vertical-align: middle;
}

#card-text dt {
  margin: 0px;
  float: left;
  clear: left;
}

#card-text dt:after {
  content: ":";
}

#card-text dd {
  margin: 0 0 0 80px;
}

#who_i_am {
  page-break-before:avoid!important;
}

#who_i_am .summary {
  padding-top: 1em;
}
