### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### OS X ###
.DS_Store
.AppleDouble
.LSOverride

### Linux ###

### SublimeText ###
*.sublime-workspace

### Vim ###
*.un~
*~

### Ruby Version Manager ###
.rbenv-version
.rvmrc

### Jekyll Bootstrap ###
_site/*
_theme_packages/*

### Git ###
!.gitkeep
!.gitignore
!.git*
