<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- some technical meta fu -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- some content meta fu -->
    <title>{{page.title}}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="copyright" content="Copyright 2013 Enno Weichert">
    <meta name="license" content="Creative Commons Attribution 3.0 Unported">
    <link type="text/plain" rel="author" href="humans.txt">
    <link type="text/plain" rel="license" href="http://creativecommons.org/licenses/by/3.0/legalcode.txt">

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/img/favicon.ico">
    <link rel="apple-touch-icon" href="{{ ASSET_PATH }}/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ ASSET_PATH }}/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ ASSET_PATH }}/img/apple-touch-icon-114x114.png">

    <!-- styles -->
    <link href="{{ ASSET_PATH }}/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ ASSET_PATH }}/css/font-awesome.css" rel="stylesheet">
    <style type="text/css">
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="http://airve.github.io/js/response/response.min.js"></script>
    <![endif]-->

  </head>
  <body>

    {{ content }}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>
  </body>
</html>